.cards {
    position: absolute;
    float: left;
    width: 100px;
    height: auto;
}

#name {
    position: absolute;
    left: 47%;
}

#south {
    position: absolute;
    top: 80%;
    left: 50%;
}

#west {
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: rotate(-90deg);

    -webkit-transform: rotate(-90deg);

    transform: rotate(-90deg);
}

#east {
    position: absolute;
    top: 50%;
    left: 90%;
    -ms-transform: rotate(90deg);

    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);
}

.selected {
    border-style: solid;
    border-color: green!important;
}

.playable {
    border-style: solid!important;
    border-color: blue;
}

#north {
    position: absolute;
    top: 10%;
    left: 30%;
}

#player_played {
    position: absolute;
    top: 30%;
    left: 50%;
}

#console {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

table,
th,
td {
    border: 24px solid white;
}

table.score_update > * {
    border: 10px solid white;
}

table.center {
    display: -webkit-flex;
    display: flex;
    margin: auto;
    width: auto;
    padding: 5px;
    min-height: 200px;
    overflow: hidden;
    background-color: white;
}

#player_div {
    position: fixed;
    right: 0;
    top: 0;
    border: thin solid black;
}

.text_player_message_log {
    width: 300px;
    height: 300px;
    overflow: auto;
    border: thin solid black;
    size: 50%;
}

.text_player_input {
    width: 90%;
    margin-left: 5%;
}
