.cards {
    width: 100px;
    height: auto;
}

#south {
    position: absolute;
    top: 80%;
    left: 50%;
}

#west {
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: rotate(-90deg);

    -webkit-transform: rotate(-90deg);

    transform: rotate(-90deg);
}

#east {
    position: absolute;
    top: 50%;
    left: 90%;
    -ms-transform: rotate(90deg);

    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);
}

#north {
    position: absolute;
    top: 10%;
    left: 50%;
}

#console {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

table,
th,
td {
    border: 1px solid black;
}

#player_div {
    position: fixed;
    right: 0;
    top: 0;
    border: thin solid black;
}

.text_player_message_log {
    width: 300px;
    height: 300px;
    overflow: auto;
    border: thin solid black;
    size: 50%;
}

.text_player_input {
    width: 90%;
    margin-left: 5%;
}
